---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Brothers Homewood : Certifications And Insurance">
    <Header />
    <div>
        <h1
        class="p-6 bg-green-100 rounded-xl text-3xl font-mono text-center text-green-900 m-3"
      >
        Certifications and Proof of Insurance
      </h1>
    </div>
    <Footer />
</Layout>