---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Brothers Homewood : Services">
  <Header />
  <main>
    <h1
      class="p-6 bg-green-100 rounded-xl text-3xl font-mono text-center text-green-900 m-3"
    >
      Our Specialities
    </h1>
    <!-- tree felling -->
    <div id="tree-felling" class="p-6 bg-green-100 rounded-xl m-3">
      <h2 class="text-green-900 text-xl font-mono px-3 italic">Tree Felling</h2>
      <div class="bg-green-200 p-2 rounded-lg my-2 font-mono">
        Though we are not equipped for full scale logging, we do offer felling
        for trees of any size. We can process the trees for firewood or for
        milling, in some cases we offer full tree removal, or it can simply be
        stacked on site.
        <br /><br />
        Brothers employees are certified in the core LEAP (Logger Education to Advance
        Professionalism) classes and are GOL (Game Of Logging) level 1&2 certified.
        Additionally, we are proud to provide felling References.
        <br /><br />
        Note: Brothers does not offer tree topping, climbing, or bucket truck removal
        as services at this time.
      </div>
      <div class="flex w-100">
        <img
          class="ml-auto"
          src="https://www.brothershomewoods.com/uploads/b/ab139608239bd1e52422edb6ca2e17d4744ac5e90ea3435e52f3bccb9802883d/20220513_113030_1658343210.jpg?width=800"
          width="400px"
        />
        <img
          class="ml-auto"
          width="400px"
          src="https://www.brothershomewoods.com/uploads/b/ab139608239bd1e52422edb6ca2e17d4744ac5e90ea3435e52f3bccb9802883d/20220526_092349_1655249570.jpg?width=800"
        />
      </div>
    </div>
    <!-- Tree Felling End -->
    <!-- Thinking Ahead -->
    <div class="p-6 m-3 bg-green-100 rounded-xl flex w-100">
      <img
        src="https://www.brothershomewoods.com/uploads/b/ab139608239bd1e52422edb6ca2e17d4744ac5e90ea3435e52f3bccb9802883d/20220712_101238_1658346184.jpg?width=800"
        width="400px"
      />
      <div
        class="grid-cols-4 list-disc list-inside bg-green-200 p-6 m-3 rounded-lg"
      >
        <h2 class="text-green-900 text-xl font-mono px-3 italic">
          Thinking Ahead
        </h2>
        <p class="bg-green-200 p-2 rounded-lg my-2">
          When prepping a site for future excavation we always organize the area
          in a way that allows the machine operator to function with maximum
          efficiency.
        </p>
      </div>
    </div>
    <!-- Thinking Ahead End -->
    <!-- Astehtics Management -->
    <div id="astehtics-management" class="p-6 bg-green-100 rounded-xl m-3">
      <h2
        class="bg-green-200 p-2 rounded-lg my-2 text-green-900 text-xl font-mono px-3 italic"
      >
        Aesthetics Management
      </h2>
      <p class="bg-green-200 p-2 rounded-lg my-2 font-mono">
        Managing for aesthetics is one of our most popular services, especially
        close to the home. The goal is to achieve the "state park look", opening
        up the woods and making them easy for the owner to walk through, look
        at, and enjoy.
        <br /><br />
        Though there is nothing wrong with this approach, It should be known there
        are drawbacks to it. Woods that are optimized for humans are less attractive
        to wildlife, and can detract from regenerative growth as well. If those are
        concerns, you may wish to hybridize your management approach with our other
        options.
      </p>
      <img
        class="rounded-lg"
        src="https://www.brothershomewoods.com/uploads/b/ab139608239bd1e52422edb6ca2e17d4744ac5e90ea3435e52f3bccb9802883d/20220125_085627_1658343699.jpg?width=1600"
      />
    </div>
    <!-- Astehtics Management End-->
    <!-- Wildlife Management -->
    <div id="wildlife-management" class="p-6 bg-green-100 rounded-xl m-3">
      <h2
        class="bg-green-200 p-2 rounded-lg my-2 text-green-900 text-xl font-mono px-3 italic"
      >
        Wildlife Management
      </h2>
      <p class="bg-green-200 p-2 rounded-lg my-2">
        If you want to promote wildlife such as deer, bear, birds and moose,
        there are ways to manage your land so that it is more suitable for them.
        One way this can be done is by creating more understory cover, this
        means creating course woody debris, and increasing light to promote
        growth of food sources such as raspberry bushes and small evergreen
        trees. Another technique is to leave/create some dead standing timber as
        nesting sites and food sources for birds.
      </p>
    </div>
    <!-- Wildlife Management End -->
    <!-- Mature Tree Managment -->
    <div id="mature-tree-management" class="p-6 bg-green-100 rounded-xl m-3">
      <h2
        class="bg-green-200 p-2 rounded-lg my-2 text-green-900 text-xl font-mono px-3 italic"
      >
        Mature Tree Management
      </h2>
      <div class="p-2 rounded-lg my-2">
        Managing woods with a focus on long term tree development can be broken
        down into two categories.
        <div class="bg-green-300 p-2 rounded-lg my-2">
          <h3 class="text-green-900 text-l font-mono px-3 italic" >Timber Management</h3>
          <p class="px-6">
            This approach aims at expediting the growth of potential lumber
            grade trees for future logging/selective harvesting. This is done by
            selecting trees of future potential value, with a focus on species;
            health; and straightness, then optimizing their growing conditions.
          </p>
        </div>
<div class="bg-green-300 p-2 rounded-lg my-2">
    <h3 class="text-green-900 text-l font-mono px-3 italic" >Tree Health Management</h3>
    <p class="px-6">
      This approach aims at aiding in the growth of selected trees in an
      area with no focus put on their eventual value. This is often used as
      a long term method of managing for aesthetics.
    </p>
</div>
      </div>
    </div>
    <!-- Mature Tree Managment End -->
    <!-- Other Services -->
    <div id="other-services"class="p-6 bg-green-100 rounded-xl">
      <h2 class="text-green-900 text-lg font-mono px-3">Other Services</h2>
      <p class="bg-green-200 overline p-2 rounded-lg my-2">
        Though woods management may be our specialty, we do offer other services
        and we take smaller scale jobs. these services include:
      </p>
      <ul class="grid-cols-4 list-disc list-inside bg-green-200 p-2 rounded-lg">
        <li>Firewood Felling</li>
        <li>Wood Bucketing/Splittng/Stacking</li>
        <li>Dead & Fallen Tree Removal</li>
        <li>Storm Damage Tree Removal</li>
        <li>Wood Chipping</li>
        <li>Brust Clearing/Buring</li>
        <li>Free Tree Pruning</li>
        <li>General Woods Maintenace</li>
      </ul>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 120ch;
  }
</style>
